/**** START: Josh Comeau's global styles ****/
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/***** END: Josh Comeau's global styles *****/

/* remove bullets from lists */
li,
ul {
  all: unset;
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  --font-family-display: "Domine";

  --font-family-sans: "Open Sans 400";
  --font-family-sans-bold: "Open Sans 800";
  --font-family-sans-condensed: "Open Sans Condensed";

  --color-secondary-300: hsl(34, 70%, 55%);
  --color-secondary-500: hsl(26, 66%, 46%);
  --color-secondary-800: hsl(9, 66%, 46%);
  --color-primary-100: hsl(202, 47%, 70%);
  --color-primary-300: hsl(202, 47%, 50%);
  --color-primary-500: hsl(210, 51%, 41%);
  --color-primary-700: hsl(208, 43%, 30%);
  --color-primary-800: hsl(207, 35%, 20%);
  --color-primary-900: hsl(208, 36%, 15%);

  --color-gray-50: hsl(0, 0%, 98%);
  --color-gray-100: hsl(240, 5%, 96%);
  --color-gray-200: hsl(240, 6%, 90%);
  --color-gray-300: hsl(240, 5%, 84%);
  --color-gray-400: hsl(240, 5%, 65%);
  --color-gray-500: hsl(240, 4%, 46%);
  --color-gray-600: hsl(240, 5%, 34%);
  --color-gray-700: hsl(240, 5%, 26%);
  --color-gray-900: hsl(240, 6%, 10%);

  --color-gray-100-90: hsla(240, 5%, 96%, 0.9);
  --color-primary-900-90: hsla(208, 36%, 15%, 0.9);

  --color-theme-red: var(--color-secondary-800);

  --toastify-color-info: var(--color-primary-500);
  --toastify-color-success: var(--color-primary-300);
  --toastify-color-warning: var(--color-secondary-300);
  --toastify-color-error: var(--color-theme-red);
  --toastify-font-family: var(--font-family-sans);
  --toastify-toast-width: 40rem;

  --border-radius: 8px;
  --border-width: 2px;
  --border-width-heavy: 4px;

  /* from https://github.com/joy-of-react/project-blog/blob/stretch-not-found/src/constants.js */
  --shadow-medium: 0px 1px 2px hsla(207, 35%, 20%, 0.2),
    0px 2px 4px hsla(207, 35%, 20%, 0.2), 0px 4px 8px hsla(207, 35%, 20%, 0.2),
    0px 8px 16px hsla(207, 35%, 20%, 0.2);

  /* widths and heights */
  --max-width: 93.75rem;

  --width-widget: calc(940rem / 16);
  --header-height: 4rem;
  --footer-spacer-height: 32px;
  --wrapper-padding: 16px;
  --footer-height: calc(3rem + var(--footer-spacer-height));
  --view-width-minus-scrollbar: calc(100vw - (100vw - 100%));
  --main-column-width: min(var(--view-width-minus-scrollbar), var(--max-width));
  --main-column-usable-width: calc(
    var(--main-column-width) - 2 * var(--wrapper-padding)
  );
  --main-buffer-top: 16px;
  --main-margin-top: calc(var(--header-height) + var(--main-buffer-top));
  --min-main-height-without-footer: calc(100vh - var(--main-margin-top));
  --min-main-height: calc(
    var(--min-main-height-without-footer) - var(--footer-height)
  );
}

html,
body {
  font-family: var(--font-family-sans);
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-display);
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

strong {
  font-family: var(--font-family-sans-bold)
}

.theme-light {
  --color-text: var(--color-primary-900);
  --color-background: var(--color-gray-100);
  --color-background-opacity-90: var(--color-gray-100-90);
  --color-hover: var(--color-primary-300);
  --color-featured-text: var(--color-primary-500);
  --color-mobile-menu-background: white;
  --color-inline-link: var(--color-secondary-500);
  --color-inline-link-hover: var(--color-secondary-300);
  --color-border: var(--color-secondary-500);
  --color-dialog-overlay: var(--color-gray-500);
  --color-footer-background: var(--color-primary-900);
  --color-footer-text: var(--color-gray-100);
  --color-loading-text: var(--color-gray-300);
  --color-input-background: white;
  --color-arrow: var(--color-secondary-500);
  --color-error: var(--color-theme-red);

  --color-toc-heading: var(--color-gray-600);
  --color-toc-heading-hover: var(--color-secondary-300);
  --color-toc-background: var(--color-gray-200);

  --color-widget-background: var(--color-gray-200);
  --color-widget-border: var(--color-gray-700);

  --color-callout-success-bg: hsl(202, 47%, 92%);
  --color-callout-success-border: var(--color-primary-300);

  --color-callout-info-bg: hsl(210, 51%, 92%);
  --color-callout-info-border: var(--color-primary-500);

  --color-callout-warning-bg: hsl(34, 70%, 92%);
  --color-callout-warning-border: var(--color-secondary-300);

  --color-callout-error-bg: hsl(9, 66%, 92%);
  --color-callout-error-border: var(--color-theme-red);
}

.theme-dark {
  --color-text: var(--color-gray-100);
  --color-background: var(--color-primary-900);
  --color-background-opacity-90: var(--color-primary-900-90);
  --color-hover: var(--color-primary-500);
  --color-featured-text: var(--color-primary-300);
  --color-mobile-menu-background: black;
  --color-inline-link: var(--color-secondary-300);
  --color-inline-link-hover: var(--color-secondary-500);
  --color-border: var(--color-secondary-300);
  --color-dialog-overlay: var(--color-gray-500);
  --color-footer-background: var(--color-primary-500);
  --color-footer-text: var(--color-gray-100);
  --color-loading-text: var(--color-gray-600);
  --color-input-background: var(--color-gray-700);
  --color-arrow: var(--color-secondary-300);
  --color-error: var(--color-theme-red);

  --color-toc-heading: var(--color-gray-300);
  --color-toc-heading-hover: var(--color-secondary-300);
  --color-toc-background: var(--color-gray-700);

  --color-widget-background: var(--color-gray-700);
  --color-widget-border: var(--color-gray-900);

  --color-callout-success-bg: var(--color-primary-300);
  --color-callout-success-border: hsl(202, 47%, 92%);

  --color-callout-info-bg: var(--color-primary-500);
  --color-callout-info-border: hsl(210, 51%, 92%);

  --color-callout-warning-bg: var(--color-secondary-500);
  --color-callout-warning-border: hsl(34, 70%, 92%);

  --color-callout-error-bg: var(--color-theme-red);
  --color-callout-error-border: hsl(9, 66%, 92%);
}
