@font-face {
  font-family: "Domine";
  font-weight: "700";
  font-display: swap;
  src: url(/fonts/Domine-700.woff2);
}

@font-face {
  font-family: "Open Sans Condensed";
  font-weight: normal;
  font-display: swap;
  src: url(/fonts/Open-Sans-Condensed.woff2);
}

@font-face {
  font-family: "Open Sans";
  font-display: swap;
  src: url(/fonts/Open-Sans-Variable.woff2);
}
