.wrapper {
  height: 2rem;
  width: 3.75rem;
  background-color: var(--color-gray-800);
  border: 2px solid;
  border-color: var(--color-gray-500);
  border-radius: 2rem;

  /* TODO: ARCHITECTURE separate stacking context? */
  z-index: 1;

  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.selector {
  position: absolute;

  width: 1.75rem;
  height: 1.75rem;
  border-radius: 100%;
  background-color: var(--color-primary-500);

  left: 0;
  top: 0;
  bottom: 0;
  margin: auto 0;

  z-index: 2;

  transform: translateX(100%);

  /* ".color-mode-toggle[data-state='on'] > &": {
       transform: "translateX(0)";
    }, */
}

.icon {
  color: var(--color-gray-50);
  z-index: 3;
}

@media (prefers-reduced-motion: no-preference) {
  .selector {
    transition: transform ease-in 200ms;
  }
}
