.wrapper {
  display: "flex";
  flex-direction: "column";
  align-items: "center";

  top: 0;
  left: 0;

  height: "6rem";
  width: "fullWidthMinusScrollbar";

  padding: 4;
}

.header {
  display: "flex";
  justify-content: "space-between";
  align-items: "center";
  gap: 6;

  width: 100%;
  max-width: "wideScreen";
  height: 100%;
}

/* .desktop {
    display: "none";
    md: { display: "inherit" };
  }

  .mobile {
    md: { display: "none" };
  } */
