.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--space-lg);
  padding: var(--space-lg);
  margin-bottom: var(--space-lg);

  width: 100%;

  inset: 0;
  border-bottom: var(--color-gray-500) solid var(--border-width-md);
}

.logo {
  max-height: 2.25rem; /* this determines the height of the header */
}

/* .desktop {
    display: "none";
    md: { display: "inherit" };
  }

  .mobile {
    md: { display: "none" };
  } */
