.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  inset: 0;
  height: 2rem;
  padding: var(--space-xl);

  border-bottom: var(--color-gray-500) solid var(--border-width-md);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--space-lg);

  width: 100%;
  height: 100%;
}

/* .desktop {
    display: "none";
    md: { display: "inherit" };
  }

  .mobile {
    md: { display: "none" };
  } */
