.wrapper {
  background-color: transparent;

  font-family: var(--font-family-display);
  font-size: var(--font-size-lg);
  font-weight: bold;
  /* color: text.featured; */

  transition: border-bottom-color 100ms;

  padding: var(--space-xs);
  animation: none;
  border-bottom: var(--border-width-lg) solid transparent;
}

.wrapper:hover {
  transition: border-bottom-color 500ms;

  border-bottom-color: var(--color-nav-highlight);

  /* border-color: text.hover; */
  /* color: text.hover; */
}

.active {
  border-bottom-color: var(--color-nav-active);
}
