.wrapper {
  padding: var(--space-lg);
  border-radius: var(--border-radius-lg);
  box-shadow: var(--shadow-card);
  --input-width: 48ch;
}

.form {
  display: grid;
  grid-template-columns: min-content 1fr;
  align-items: center;
  gap: var(--space-lg);
  margin-top: var(--space-xl);
}

.label {
  justify-self: end;
  text-align: end;
}

.input {
  padding: var(--space-md) var(--space-lg);
  width: var(--input-width);
  border-radius: var(--border-radius-sm);
  border: var(--color-gray-700) var(--border-width-sm) solid;
  background-color: var(--color-gray-100);
}

.button {
  width: 100%;
  justify-self: end;
}
