.wrapper {
  position: fixed;
  inset: 0;
  display: flex;
  justify-items: start;
  justify-self: center;
  padding: var(--padding-md);
  --input-width: 48ch;
}

.authBox {
  padding: var(--padding-lg);
  border-radius: var(--border-radius-lg);
  box-shadow: var(--shadow-card);
}

.form {
  display: grid;
  grid-template-columns: min-content 1fr;
  align-items: center;
  gap: var(--padding-lg);
}

/* .inputWrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: var(--padding-md);
  flex-shrink: 0;
} */

.label {
  justify-self: end;
  text-align: end;
}

.input {
  padding: var(--padding-md) var(--padding-lg);
  width: var(--input-width);
  border-radius: var(--border-radius-sm);
  border: var(--color-gray-700) var(--border-width-sm) solid;
  background-color: var(--color-gray-100);
}

.button {
  width: var(--input-width);
  justify-self: end;
  grid-column: 1 / span 2;
}
