.button {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
  text-align: left;
  font: inherit;
  color: inherit;
}

.button:focus {
  outline-offset: 2px;
}

.button:focus:not(:focus-visible) {
  outline: none;
}
